body {
  font-family: "Poppins", sans-serif;
  background-color: #5a3b48;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

.textCentre {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.gridTwoColumns {
  grid-template-columns: 1fr 1fr;
}

.gridThreeColumns {
  grid-template-columns: 1fr 2fr 2fr;
}

.gridThreeColumnsMain {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.cardBody {
  padding: 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 40px;
  background-color: #300108;
  text-decoration: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("../images/FreedomHeroTwo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  text-align: center;
  padding: 200px 0;
  line-height: 1.5;
}

header h1 {
  font-size: 90px;
  font-weight: 700;
  margin: 0;
}

header h2 {
  font-weight: 500;
  font-size: 35px;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 30px;
  margin: 0;
}

header a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #070e04;
  letter-spacing: 3px;
  background: white;
  border-radius: 5px;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

main {
  background-color: white;
}

main img {
  max-width: 100%;
  display: block;
}

main h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #070e04;
  margin: 0;
}

main h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  color: #070e04;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/FooterOne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  opacity: 0.6;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
}

@media (max-width: 960px) {
  header {
    padding: 100px 0;
    line-height: 1;
  }

  header h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  header h2 {
    font-size: 17px;
  }

  header h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  header a {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  section {
    padding: 30px;
  }

  main h3 {
    font-size: 30px;
  }
}
